<app-top-bar></app-top-bar>

<ion-content>  
  <ion-card>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label position="floating">Nome</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-list-header>
      <ion-label>
        Single Selection
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-icon name="card" slot="start"></ion-icon>
      <ion-label>Forma de Pagamento</ion-label>
      <ion-select placeholder="Selecione a forma de pagamento" okText="Okay" cancelText="Cancelar">
        <ion-select-option value="f">Cartão</ion-select-option>
        <ion-select-option value="f">Dinheiro</ion-select-option>
        <ion-select-option value="m">Pix</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="send" slot="start"></ion-icon>
      <ion-label>Forma de Entrega</ion-label>
      <ion-select placeholder="Selecione o tipo de entrega" okText="Okay" cancelText="Cancelar">
        <ion-select-option value="brown">Retirar no Local</ion-select-option>
        <ion-select-option value="blonde">Receber em casa</ion-select-option>
      </ion-select>  
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-list-header>
      <ion-label>
        NO MEU ENDEREÇO
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="floating">Bairro</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rua</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nº</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ponto de Referência</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-list-header>
      <ion-label style="font-weight: bold;">
        Frete: R$ 5,00
      </ion-label>
    </ion-list-header>
  </ion-card>
</ion-content>

<div class="line">
  <ion-title slot="end" style="font-size: 16px; font-weight: bold; margin: 10px;">
    Total: R$ 15,00
  </ion-title>
</div>
<ion-toolbar class="tool-advance">
  <ion-title routerLink="/home" class="advance" >
    CONFIRMAR PEDIDO
  </ion-title>
</ion-toolbar>
