<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <img slot="start" src="/assets/images/logo.jpg" class="image-logo">
    <ion-buttons slot="secondary">
      <ion-button routerLink="/cart-final">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title" routerLink="/home">
      <span class="span-brasa">BRASA</span><span style="font-size: 14px;"> - Pousada e Restaurante</span>
    </ion-title>
  </ion-toolbar>
</ion-header>